@model IEnumerable<BusinessPortal2.Models.DTO.LeaveRequestDTO.LeaveRequestReadDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveType.LeaveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalState)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaveType.LeaveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequest) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalState)
            </td>
            <td>
                    <a asp-action="Details" asp-route-leaveRequestId="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-leaveRequestId="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
