@model IEnumerable<BusinessPortal2.Models.DTO.PersonalDTO.PersonalReadDTO>

@{
    ViewData["Title"] = "PersonalIndex";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="AdminIndex">Admin Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="AdminIndex">Home</a>
                    </li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="LeaveTypeIndex">LeaveType</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Personal</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
                <td>
                    <a asp-action="InfoPersonal" asp-route-id="@item.Id" class="btn btn-success" style="color: white;"><i class="fas fa-info-circle"></i> Info</a>
                    <a asp-action="UpdatePersonal" asp-route-id="@item.Id" class="btn btn-warning" style="color: white;"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                    <a asp-action="DeletePersonal" asp-route-id="@item.Id" class="btn btn-danger" style="color: white;"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="AdminIndex">Back To Home</a>
</div>
