@model IEnumerable<BusinessPortal2.Models.DTO.PersonalDTO.PersonalReadDTO>

@{
    ViewData["Title"] = "PersonalIndex";
}

<h1>PersonalIndex</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
                <td>
                            <a asp-action="UpdatePersonal"  asp-route-id="@item.Id">
                            Update <i class="fa fa-edit"></i>
                        </a>

                        <a asp-action="DeletePersonal" asp-route-id="@item.Id">
                            Delete <i class="fa fa-trash"></i>
                        </a>
                </td>
        </tr>
}
        <div>
            <a asp-action="AdminIndex">Back to List</a>
        </div>
    </tbody>
</table>
