@model IEnumerable<BusinessPortal2.Models.DTO.LeaveRequestDTO.LeaveRequestReadAdminDTO>

@{
    ViewData["Title"] = "Rejected";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="AdminIndex">Admin Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="LeaveTypeIndex">LeaveType</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="PersonalIndex">All Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Rejected</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personal.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveType.LeaveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personal.FullName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.leaveType.LeaveName)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalState)
            </td>
                <td>
                    <a asp-action="Update" class="btn-sm btn-warning text-decoration-none" style="color: white;" asp-route-id="@item.Id" asp-route-personalId="@item.personal.Id" asp-route-leaveTypeId="@item.leaveType.Id"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                    <a asp-action="Delete" class="btn-sm btn-danger text-decoration-none" style="color: white;" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
        </tr>
}
        <div>
            <a asp-action="AdminIndex">Back to List</a>
        </div>
    </tbody>
</table>
